.chat-user-chats {
    background-color: #f4f5f7;
    overflow: scroll;
    height: 522px;
    overflow-x: hidden;
    box-shadow: 5px 0px 6px lightgrey;
}

.chat-left-top {
    border: 1px solid #adb5bd;
    height: 55px;
    background: #ddd;
    padding-left: 5px;
    /* border-radius: 36px; */
}

.chat-left-user-profile {
    width: 85%;
    float: left;
}

.chat-left-user-profile-user-name {
    padding-left: 7px;
}

.chat-left-user-profile-user-name2 {
    float: left;
    margin: 8px;
}

.chat-left-options {
    margin-top: -18px;
}

.chat-left-options-icon {
    font-size: 40px;
    margin-bottom: 9px;
}

.chat-left-options-icon:hover {
    cursor: pointer;
}

.chat-user-chat-profile {
    width: 100%;
    height: 55px;
    background: #e9ecef;
    box-shadow: 0 0 1px 0 rgb(9 30 66 / 31%), 0 2px 4px -1px rgb(9 30 66 / 25%);
    margin-bottom: 2px;
    padding-left: 8px;
}

.chat-user-chat-profile:hover {
    transform: scale(1.0);
    background-color: rgb(0 0 0 / 15%);
    cursor: pointer;
}

.chat-user-profile-avatar {
    vertical-align: middle;
    /* width: 45px; */
    height: 45px;
    border-radius: 100%;
    margin-left: 4px;
    float: left;
}

.chat-user-chat-profile-user-name {
    /* padding: 10px 0px 0px 10px; */
}

.chat-user-chat-profile-user-name2 {
    margin: -2px 0px 0px 6px;
    float: left;
}

.chat-user-icon {
    content: url(../../../images/user_icon.png);
    /* content: url(`${window.location.origin}\suresh_img.jpg`); */
    width: 45px;
    border-radius: 50%;
    /* margin-left: -5px; */
    float: left;
    /* width: 128px; */
    margin-right: 6px;
    margin-top: 4px;
    border: 1px solid #dee2e6;
    color: green;
    /* border-radius: 500px; */
    /* -webkit-border-radius: 500px; */
    background: whitesmoke;
    -moz-border-radius: 500px;
    /* filter: invert(10%) sepia(90%) saturate(5268%) hue-rotate(216deg) brightness(117%) contrast(155%); */
}

.chat-user-group-icon {
    content: url(../../../images/user_group_icon.png);
    width: 45px;
    border-radius: 50%;
    float: left;
    margin: 4px 6px 1px -5px;
    border: 1px solid #dee2e6;
    color: green;
    background: whitesmoke;
}

.chat-user-group-search {
    width: 100%;
    height: 47px;
    /* border-right: 4px solid gray; */
    /* background: whitesmoke; */
}

.chat-user-group-search-input {
    margin: 3px 0px 0px 0px;
    border-radius: 11px;
    padding: 2px;
    padding: 6px;
    font-size: 1em;
    border: var(--border);
    background: #e9ecef;
    width: 98%;
}

.chat-user-group-search-input:focus-within {
    border-radius: 0px;
    background: white;
}

.chat-left-last-sent {
  /*  margin: 0px 0px 0px 58px; */
    font-size: 13px;
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding-top: 31px; */
    padding-left: -12px;
    /* margin: auto; */
    overflow-x: hidden;
    overflow-y: auto;
}


.chat-left-last-timestamp {
    margin: -25px 4px 0px 0px;
    float: right;
}

.chat-left-msg-count {
    float: right;
    margin: -21px 5px 0px 0px;
    border-radius: 50%;
    width: 22px;
    background: #0be40b;
    align-items: center;
    align-content: center;
    color: black;
}

.chat-left-msg-count-2 {
    float: right;
    margin: 3px -35px 0px 0px;
    ;
    border-radius: 50%;
    width: 22px;
    background: #0be40b;
    align-items: center;
    align-content: center;
    color: black;
}

.create-chat-room-container {
   /* background: white; */
   height: 100vh;
   border-radius: 14px;
   background-color: #e9ecef;
   box-shadow: 0px 0px 10px #232931;
   /* margin-left: 2px;*/
}

.chat-group-create-btns {
    /* height: 38px;
    float: right;
    margin-bottom: 10px; */
    height: 38px;
    /* border: 1px solid; */
    background: rgb(0 0 0 / 15%);
    padding: 8px;
    /* font-size: 18px;*/
}

.group-name-btn-div{
    width: 100%;
    border: 1px solid;
    height: 40px;
    padding: 5px;
}
.group-name-input-div{
    float: left;
}
.group-name-input{
    border: 1.5px solid;
    width: 60%;
    border: none;
    height: 30px;
    background: #e9ecef;
    border-radius: 11px;
    padding: 2px;
    padding: 6px;
    /* font-size: 1em; */
    border: var(--border);
    background: #e9ecef;
}
.group-name-input:focus-within{
    /* border: 1px solid; */
    background: #f8f9fa;
}
.group-create-btn-div{
    float: right;
}
.chat-boarder {
    border-bottom: 1px solid gainsboro;
    margin-top: 38px;
}

.chat-btn {
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    float: right;
}

.btn-create {
    background: #32cd85;
    color: black;
}

.btn-create:hover {
    box-shadow: 1px 2px 1px #b3cbe2;
}

.btn-cancle {
    background-color: #ef1414cc;
}

.btn-cancle {
    box-shadow: 1px 2px 1px #e28cb4bd;
}
.group-create-name{
    margin: 0px 0px 0px 10px
}
.btn-close-group{
    float: right;
    border: none;
    background: none;
    color: darkred;
    font-size: 25px;
    margin: -8px 0px 0px 0px;
}
@media screen and (max-width: 992px) {
    /* .chat-left-user-profile-user-name2 {
        float: right;
        padding-right: 166px;
        padding-top: 7px;
    } */
}